.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-muddy-grey;
  text-decoration: none;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 168px;
    justify-self: flex-end;
    flex-wrap: wrap;
    padding-block: 1.5px;
  }

  &:hover {
    color: $color-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    color: $color-green;
    outline: 2px solid $color-green;
    outline-offset: 2px;
  }
}

.copyright__text {
  @include font(16px, 19px);
  color: $color-grey;
  max-width: 168px;
}

.copyright__icon {
  flex-shrink: 0;
}
