.example {
  @include container;
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $color-smoky-white;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 101px;
    background-color: inherit;
    background-image: linear-gradient(to top, $color-smoky-white 462px, $color-white 462px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-background-after;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    line-height: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    max-width: 660px;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: $color-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin-bottom: 69px;
  }
}

.example__info-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    max-width: 400px;
    margin-bottom: 0;
  }
}

.example__list {
  display: flex;
  gap: 32px;
  max-width: 280px;
  margin: 0 auto 20px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    max-width: 370px;
    margin: 0;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__expenses {
  font-size: 14px;
  max-width: 188px;
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px);
    margin: 0;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    max-width: 400px;
  }
}

.example__price {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 56px;
  }
}

.example__slider {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 1px;
    right: 110px;
    margin: 0;
  }
}
