.field {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;
  width: 100%;
  padding: 13px 19px 12px;
  border: 1px solid $color-smoky-grey;
  border-radius: 0;
  color: $color-grey;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 10px 19px;
  }

  &--iconed {
    // flex-shrink: 0;
    // min-width: 202px;
    // max-width: 220px;
    padding-inline: 14px 34px;
  }

  &--textarea {
    border: 1px solid $color-smoky-grey;
    //     width: 100%;
    max-height: 150px;
    vertical-align: top;
    padding: 9px 12px 9px 15px;

    &::placeholder {
      color: $color-grey;
    }

    //     @media (min-width: @tablet-width) {
    //       max-height: 160px;
    //       max-width: 768px;
    //       margin-bottom: 0;
  }
}

//   &:hover {
//     background-color: @color-grey-hover;
//   }

//   &:active {
//     background-color: @color-white;
//     border-color: @color-grey-hover;
//   }

//   &:disabled {
//     background-color: @color-grey-hover;
//     color: @color-white;
//     opacity: 0.5;
//   }
// }
