.footer-logo {
  color: $color-dark;
  display: inline-flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  &:hover {
    color: $logo-footer-hover;
  }

  &:active {
    color: $logo-footer-active;
  }
}
