.footer-logo {
  display: inline-flex;
  justify-content: center;
  max-width: fit-content;
  color: $color-dark;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  &[href]:hover {
    color: $logo-footer-hover;
  }

  &[href]:active {
    color: $logo-footer-active;
  }

  &[href]:focus {
    outline-offset: 2px;
  }
}
