.map {
  position: relative;
  min-width: 320px;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  iframe {
    display: block;
    width: 100%;
    border: none;

    @media (min-width: $tablet-width) {
      min-height: 400px;
    }
  }
}

.map__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
