.product-more {
  @include container;
  padding-block: 79px 25px;
  text-align: center;
  background-image: url("../img/icons/icon-plus.svg");
  // background-image: url("../img/sprite.svg#icon-plus");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: top 25px center;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-top: 82px;
    border: 2px solid $color-background;
    padding: 159px 35px 36px 36px;
    background-size: 60px;
    background-position: top 52px center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 81px;
    padding: 158px 36px 39px;
    background-position: top 51px center;
  }
}

.product-more__title {
  margin: 0;
  margin-bottom: 8px;
  color: $color-dark;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-width: 134px;
    margin: 0 auto 23px;
    line-height: 22px;
  }
}

.product-more__text {
  @include font(12px, 16px);
  margin: 0;
  margin-bottom: 21px;
  color: $color-grey;

  @media (min-width: $tablet-width) {
    @include font(16px, 18px);
    max-width: 165px;
    margin: 0 auto 87px;
  }
}

.product-more__link {
  text-overflow: ellipsis;
  overflow: hidden;
}
