.program {
  background-color: $color-background;
  padding: 30px 20px 18px 19px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--slim::before {
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../img/icons/cat-slim.svg");
    // background-image: url("../img/sprite.svg#cat-slim");
  }

  &--pro::before {
    top: 24px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../img/icons/cat-pro.svg");
    // background-image: url("../img/sprite.svg#cat-slim");
  }


  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 53px;

    &--slim::before {
      top: 81px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 211px;
    }

    &--pro::before {
      top: 91px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;

    &--slim::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 106px;
    }

    &--pro::before {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
    }
  }
}

.program__title {
  @include font(24px, 37px);
  margin: 0;
  margin-bottom: 29px;
  padding-left: 72px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: $tablet-width) {
    @include font(36px, 36px);
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.program__text {
  position: relative;
  margin: 0;
  margin-bottom: 38px;

  @media (max-width: $mobile-width-only) {
    color: $color-grey;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -23px;
      left: 0;
      background-color: $color-light-grey;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    min-width: 451px;
  }
}

.program__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  line-height: 16px;
  padding: 4px 56px 4px 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    width: 24px;
    height: 12px;
    mask-image: url("../img/icons/arrow-right.svg");
    // mask-image: url("../img/sprite.svg#arrow-right");
    mask-position: right;
    background-color: $color-black;
  }

  &:hover::after,
  &:active::after {
    right: 9px;
    width: 32px;
    mask-position: left;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    line-height: 30px;
    padding-right: 57px;

    &::after {
      right: 8px;
    }

    &:hover::after,
    &:active::after {
      right: 0;
    }
  }
}
