.site {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    @include font(20px, 20px);
    font-weight: 500;
    flex-direction: column;
    position: relative;
    background-color: $color-white;
  }

  @media (min-width: $tablet-width) {
    @include font (18px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font (20px, 30px);
    // color: $color-white;
  }
}

.site__item {
  @include container;
  text-align: center;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-background-after;
    }

    &:first-of-type::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-background-after;
    }
  }
}

.site__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 22px 24px;
  text-decoration: none;
  color: inherit;
}

// .site {
//

//   @media (min-width: @tablet-width) {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     width: 100%;
//     background-color: transparent;
//     gap: 0;

//     &::after {
//       content: "";
//       grid-column: 3 / 4;
//       grid-row: 1 / 4;
//     }
//   }
// }

// .site__item {
//

//   @media (min-width: @tablet-width) {
//     .font(700,14px,21px);
//     position: static;
//     color: @color-black;
//     box-shadow: none;
//     margin: 0;
//   }

//   &--current a {
//     @media (min-width: @tablet-width) {
//       color: @color-brown;
//       background-color: transparent;
//     }

//     &:hover {
//       background-color: @color-blue;

//       @media (min-width: @tablet-width) {
//         background-color: transparent;
//         color: @color-brown;
//       }
//     }

//     &:active {
//       background-color: @color-blue;
//       color: @color-white;

//       @media (min-width: @tablet-width) {
//         background-color: transparent;
//         color: @color-brown;
//       }
//     }
//   }
// }

// .site__link {
//

//   @media (min-width: @tablet-width) {
//     padding: 18px 5px 17px;
//     background-color: transparent;
//   }

//   &:hover {
//     background-color: @color-blue-hover;

//     @media (min-width: @tablet-width) {
//       background-color: transparent;
//       color: @color-blue;
//     }
//   }

//   &:active {
//     background-color: @color-blue-active;
//     color: rgba(255, 255, 255, 0.3);

//     @media (min-width: @tablet-width) {
//       background-color: transparent;
//       color: rgba(0, 0, 0, 0.3);
//     }
//   }
// }
