.social {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 132px;
  margin: 0 auto;
}

.social__item {
  max-width: 28px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 22px;
  background-color: $color-muddy-grey;
  mask-repeat: no-repeat;

  &--vkontakte {
    mask-image: url("../img/sprite.svg#vkontakte");
  }

  &--youtube {
    mask-image: url("../img/sprite.svg#youtube");
  }

  &--telegram {
    mask-image: url("../img/sprite.svg#telegram");
  }

  &:hover {
    background-color: $color-green;
  }

  &:active {
    background-color: $color-green;
    opacity: 0.3;
  }

  &:focus {
    background-color: $color-green;
  }
}
