*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  @include font(14px, 18px);
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $color-white;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include font(16px, 24px);
  }
}
