@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin font($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin container {
  padding-inline: 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 30px;
  }

  @media (min-width: 1440px) {
    padding-inline: 110px;
  }
}
