// миксины
@import "./mixins.scss";

// переменные
@import "./variables.scss";

// базовые стили
@import "./base/fonts.scss";
@import "./base/base.scss";
@import "./base/headline.scss";
@import "./base/caption.scss";
@import "./base/visually-hidden.scss";

// блоки
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site.scss";
@import "./blocks/logo.scss";
@import "./blocks/page-main.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs-block.scss";
@import "./blocks/program.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/feature.scss";
@import "./blocks/slider.scss";
@import "./blocks/contacts.scss";
@import "./blocks/selection.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/products.scss";
@import "./blocks/product-card.scss";
@import "./blocks/product-more.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/extra-goods.scss";
@import "./blocks/order-gift.scss";
@import "./blocks/form.scss";
@import "./blocks/field.scss";
// @import "./blocks/control.scss";
// @import "./blocks/modal-container.scss";
// @import "./blocks/modal.scss";
// @import "./blocks/multimedia.scss";
// @import "./blocks/multimedia-card.scss";
// @import "./blocks/likes.scss";
// @import "./blocks/video-show.scss";
@import "./blocks/space.scss";
